.navbar {
  width: 100%;
  background-color: var(--main-clr);
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}

.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.navbar button,
.navbar a {
  margin-left: 1rem;
}
.navbar a {
  color: var(--main-text-clr);
  text-decoration: none;
}
